{% extends "base.html" %}
{% block title %}Слова :: Шляпа{% endblock %}
{% block contentheader %}Слова пакета{% endblock %}

{% block content %}
<p align="center">
<form method="post" action="/admin/streams/packages/{{package_id}}/words">
    <div>
        Редактировать пакет: <br/> <textarea name="text" rows="10" cols="80">{{words}}</textarea>
    </div>
    <input type="submit" value="Send"/>
    <input type="submit" value="Cancel"
           onclick="window.location='/'; return false;"/>
</form>
</p>
{% endblock %}