{% extends "templates/base.html" %}
{% block title %}Sombrero-admin{% endblock %}
{% block header %}Добавление функции{% endblock %}
{% block head %}
     <script language="Javascript" type="text/javascript" src="http://www.cdolivet.com/editarea/editarea/edit_area/edit_area_full.js"></script>

	<script language="Javascript" type="text/javascript">
		// initialisation
		editAreaLoader.init({
			id: "example_1"
			,start_highlight: true
			,allow_resize: "both"
			,allow_toggle: true
			,word_wrap: true
            ,syntax: "python"
			,language: "ru"
		});
	</script>

{% endblock %}
{%block content%}


<script type="application/javascript">

    function getXmlHttp() {
        var xmlhttp;
        try {
          xmlhttp = new ActiveXObject("Msxml2.XMLHTTP");
        } catch (e) {
        try {
          xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
        } catch (E) {
          xmlhttp = false;
        }
        }
        if (!xmlhttp && typeof XMLHttpRequest!='undefined') {
          xmlhttp = new XMLHttpRequest();
        }
        return xmlhttp;
    }

    function post(url, json, descr)
    {
        //alert(xmlhttp);
        var xmlhttp = getXmlHttp();
        xmlhttp.open('POST', url, true);
        xmlhttp.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded'); // Отправляем кодировку
        xmlhttp.send("code="+json+"&descr="+descr); // Отправляем POST-запрос
    }

    function send_func()
    {
        var url = "/admin/statistics/functions/add";
        var text = editAreaLoader.getValue("example_1");
        var descr = document.getElementById("descr").value;
        post(url, text, descr);
        $('#myModal').modal({show:true})
    }

    function update()
    {
        var url = "/admin/statistics/functions/update";
        post(url, '', '');
        $('#updatemyModal').modal({show:true})
    }
</script>

    <input type="text" class="form-control" placeholder="Function description" id="descr">
    <br>
    Функция, принимающая в качестве параметра экземпляр класса <a href="https://github.com/parallel-p/thehat/wiki/GlobalDictionaryWord-class">GlobalDictionaryWord</a>,
    возвращающая некоторое числовое значение. 50 слов, с максимальным значением функции будут показаны на странице со статистикой.
    <textarea id="example_1" class="form-control" name="text" rows="30"  id="code" placeholder="Function code"></textarea>
    <div class="row">
        <div class="col-md-6">
             <button type="button" class="btn btn-block btn-success"  btn-block  onclick="send_func()">
                        Добавить
             </button>
         </div>
        <div class="col-md-6">
            <button type="button" class="btn btn-block btn-danger"  btn-block  onclick="update()">
                        Обновить статистику
             </button>
        </div>
    </div>


    <script>
    $("textarea").keydown(function(e) {
    if(e.keyCode === 9) { // tab was pressed
        // get caret position/selection
        var start = this.selectionStart;
        var end = this.selectionEnd;

        var $this = $(this);
        var value = $this.val();

        // set textarea value to: text before caret + tab + text after caret
        $this.val(value.substring(0, start)
                    + "\t"
                    + value.substring(end));

        // put caret at right position again (add one for the tab)
        this.selectionStart = this.selectionEnd = start + 1;

        // prevent the focus lose
        e.preventDefault();
    }
});
    </script>

    <div class="modal" id="myModal">
	<div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title">Добавление функции</h4>
        </div>
        <div class="modal-body">
          Функция добавлена
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success" data-dismiss="modal" onclick="location.href='/admin/statistics/functions/add'"> Close </button>
        </div>
      </div>
    </div>
</div>
    <div class="modal" id="updatemyModal">
	<div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title">Обновление</h4>
        </div>
        <div class="modal-body">
          Обновление запущено
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success" data-dismiss="modal" onclick="location.href='/admin/statistics/functions/add'"> Close </button>
        </div>
      </div>
    </div>
</div>

{% endblock %}