{% extends "templates/base.html" %}
{% block title %}Общая статистика{% endblock %}
{% block header %}Статистика{% endblock %}
{% block head %}
<!--amcharts imports-->
<script type="text/javascript" src="http://www.amcharts.com/lib/3/amcharts.js"></script>
<script type="text/javascript" src="http://www.amcharts.com/lib/3/serial.js"></script>
<script type="text/javascript" src="http://www.amcharts.com/lib/3/pie.js"></script>
<script type="text/javascript" src="http://www.amcharts.com/lib/3/xy.js"></script>
<script type="text/javascript" src="http://www.amcharts.com/lib/3/themes/none.js"></script>
<script type="text/javascript" src="http://www.amcharts.com/lib/3/themes/light.js"></script>
<style  type="text/css">
.row
{
    margin-bottom: 50px;
}
</style>

<script type="application/javascript" >
	function make_serial_chart(chart_data, category_field, title) {
		chart = new AmCharts.AmSerialChart();
        chart.addTitle(title);
		chart.dataProvider = chart_data;
        chart.categoryField = category_field;
        chart.dataDateFormat = "YYYY-MM-DD";
        return chart;
	}
    function make_category_axis(chart, parse_dates, min_period){
        var categoryAxis = chart.categoryAxis;
        categoryAxis.parseDates = parse_dates; // as our data is date-based, we set parseDates to true
        if(parse_dates)
            categoryAxis.minPeriod = min_period; // our data is daily, so we set minPeriod to DD
        categoryAxis.dashLength = 1;
        categoryAxis.gridAlpha = 0.15;
        categoryAxis.minorGridEnabled = true;
        categoryAxis.axisColor = "#DADADA";
    }
    function create_value_axis(axis_alpha, axis_length){
        var valueAxis = new AmCharts.ValueAxis();
        valueAxis.axisAlpha = axis_alpha;
        valueAxis.dashLength = axis_length;
        return valueAxis;
    }
    function make_graph(title, valueField, balloonText){
        var graph = new AmCharts.AmGraph();
        graph.valueField = valueField;
        graph.bullet = "round";
        graph.bulletBorderColor = "#FFFFFF";
        graph.bulletBorderThickness = 2;
        graph.bulletBorderAlpha = 1;
        graph.lineThickness = 2;
        graph.lineColor = "#b5030d";
        graph.negativeLineColor = "#0352b5";
        graph.balloonText = balloonText;
        graph.hideBulletsCount = 50; // this makes the chart to hide bullets when there are more than 50 series in selection
        return graph;
    }
    function create_cursor()
    {
        chartCursor = new AmCharts.ChartCursor();
        chartCursor.cursorPosition = "mouse";
        return chartCursor;
    }
    function create_scrollbar(graph){
        var chartScrollbar = new AmCharts.ChartScrollbar();
        chartScrollbar.graph = graph;
        chartScrollbar.scrollbarHeight = 40;
        chartScrollbar.color = "#FFFFFF";
        chartScrollbar.autoGridCount = true;
        return chartScrollbar;
    }
</script>

<script type="text/javascript">
    var daily_data= [
        {% for a, b, c, d in daily %}
            {
                "games": "{{a}}",
                "words": "{{b}}",
                "players": "{{c}}",
                "date": "{{d}}"
            },
        {% endfor %}
     ]

    var average_game_time_data= [
        {% for i, j in average_game_time %}
            {
                "count": "{{i}}",
                "date": "{{j}}"
            },
        {% endfor %}
     ]

    AmCharts.makeChart("daily_chartdiv", {
        "type": "serial",
        "theme": "none",
        "pathToImages": "http://www.amcharts.com/lib/3/images/",
        "legend": {
            "useGraphSettings": true
        },
        "dataProvider": daily_data,
        "valueAxes": [{
            "id":"v1",
            "axisColor": "#FF6600",
            "axisThickness": 2,
            "gridAlpha": 0,
            "axisAlpha": 1,
            "position": "left"
        }, {
            "id":"v2",
            "axisColor": "#FCD202",
            "axisThickness": 2,
            "gridAlpha": 0,
            "axisAlpha": 1,
            "position": "right"
        }, {
            "id":"v3",
            "axisColor": "#B0DE09",
            "axisThickness": 2,
            "gridAlpha": 0,
            "offset": 50,
            "axisAlpha": 1,
            "position": "right"
        }],
        "graphs": [{
            "valueAxis": "v1",
            "lineColor": "#FF6600",
            "bullet": "round",
            "bulletBorderThickness": 1,
            "hideBulletsCount": 30,
            "title": "Сыграно партий",
            "valueField": "games",
            "fillAlphas": 0,
            "balloonText": "<b><span style='font-size:14px;'>[[value]] игр</span></b>"
        }, {
            "valueAxis": "v2",
            "lineColor": "#FCD202",
            "bullet": "square",
            "bulletBorderThickness": 1,
            "hideBulletsCount": 30,
            "title": "Объяснено слов",
            "valueField": "words",
            "fillAlphas": 0,
            "balloonText": "<b><span style='font-size:14px;'>[[value]] слов</span></b>"
        }, {
            "valueAxis": "v3",
            "lineColor": "#B0DE09",
            "bullet": "triangleUp",
            "bulletBorderThickness": 1,
            "hideBulletsCount": 30,
            "title": "Участововало игроков",
            "valueField": "players",
            "fillAlphas": 0,
            "balloonText": "<b><span style='font-size:14px;'>[[value]] игроков</span></b>"
        }],
        "chartScrollbar": {},
        "chartCursor": {
            "cursorPosition": "mouse"
        },
        "categoryField": "date",
        "categoryAxis": {
            "parseDates": true,
            "axisColor": "#DADADA",
            "minorGridEnabled": true
        }
    });

    AmCharts.ready(function () {
        var average_game_time_chart = make_serial_chart(average_game_time_data, "date", "Средняя продолжительность игры");
        make_category_axis(average_game_time_chart, true, "DD");
        average_game_time_chart.addValueAxis(create_value_axis(0.2, 1));
        var average_game_time_graph = make_graph("Средняя продолжительность игры", "count",
                "[[category]]<br><b><span style='font-size:14px;'>[[value]] мин</span></b>")
        average_game_time_chart.addGraph(average_game_time_graph)
        average_game_time_chart.addChartCursor(create_cursor());
        average_game_time_chart.write("average_game_time_chartdiv");
	});
    colors = ["#CC3333", "#FF0F00", "#FF6600","#FF9E01","#FCD202","#F8FF01","#FFFF00","#B0DE09","#04D215","#66FFFF", "#0D8ECF","#0D52D1","#2A0CD0" ,"#8A0CCF",
    "#CD0D74", "#754DEB","#DDDDDD", "#999999","#444444","#333333","#222222","#111111","#000000","#000000"]
    days = ["в понедельник", "во вторник", "в среду", "в четверг", "в пятницу", "в субботу", "в воскресенье"]
    var chart = AmCharts.makeChart("hour-chart", {
    "theme": "light",
    "type": "serial",
	"startDuration": 2,
    "dataProvider": [
        {"hour": "", "games": 0},
        {%for games in by_hour%}
            {
                "hour": {{loop.index - 1}},
                "games": {{ games }}
            },
        {% endfor %}
        {"hour": "", "games": 0}
    ],
    "valueAxes": [{
        "position": "right",
        "reversed": true
    }],
    "graphs": [{
        "balloonText": "около [[category]] часов: <b>[[value]] игр</b>",
        "fillAlphas": 1,
        "lineAlpha": 0.1,
        "type": "column",
        "valueField": "games"
    }],
    "chartCursor": {
        "categoryBalloonEnabled": false,
        "cursorAlpha": 0,
        "zoomable": false
    },
    "categoryField": "hour",
    "categoryAxis": {
        "gridPosition": "start",
        "labelRotation": 90,
        "position": "top",
        "startOnAxis": true
    }});
var chart_day = AmCharts.makeChart("day-chart", {
    "theme": "light",
    "type": "serial",
	"startDuration": 2,
    "dataProvider": [
        {"day": "", "games": 0},
        {%for games in by_day%}
            {
                "day": days[{{loop.index - 1}}],
                "games": {{ games }}
            },
        {% endfor %}
        {"day": "", "games": 0}
    ],
    "valueAxes": [{
        "position": "bottom"
    }],
    "graphs": [{
        "balloonText": "[[category]]: <b>[[value]] игр</b>",
        "fillAlphas": 1,
        "lineAlpha": 0.1,
        "type": "column",
        "valueField": "games"
    }],
    "chartCursor": {
        "categoryBalloonEnabled": false,
        "cursorAlpha": 0,
        "zoomable": false
    },
    "rotate": true,
    "categoryField": "day",
    "categoryAxis": {
        "gridPosition": "start",
        "startOnAxis": true
    }});
 var hour_day_chart = AmCharts.makeChart("hour-day-chart", {
    "type": "xy",
    "pathToImages": "http://www.amcharts.com/lib/3/images/",
    "theme": "light",
    "dataProvider": [
        {%for games in games_for_time%}
            {% if games > 0 %}
                {
                    "day": {{ ((loop.index - 1) // 24 + 3) % 7}},
                    "hour": {{ (loop.index - 1) % 24}},
                    "games": {{ games }}
                },
            {% endif %}
        {% endfor %}
    ],
    "valueAxes": [{
        "position":"bottom",
        "axisAlpha": 0,
        "minimum": -1,
        "maximum": 24,
        "integersOnly": true,
        "title": "Время",
        "labelsEnabled": false,
        "autoGridCount": false,
        "gridCount": 26
    }, {
        "axisAlpha": 0,
        "position": "right",
        "minimum": -1,
        "maximum": 7,
        "integersOnly": true,
        "reversed": true,
        "title": "День недели",
        "labelsEnabled": false
    }],
    "startDuration": 1.5,
    "graphs": [{
        "balloonFunction": function (a, b) {return "около "+ a.values.x +" часов "+days[a.values.y]+"<br><b>"+ a.values.value+" игр</b>"},
        "bullet": "circle",
        "bulletBorderAlpha": 0.2,
		"bulletAlpha": 0.8,
        "lineAlpha": 0,
        "fillAlphas": 0,
        "valueField": "games",
        "xField": "hour",
        "yField": "day",
        "maxBulletSize": 20
    }]
});
 var games_for_player_chart = AmCharts.makeChart("games_for_player_chart_chartdiv", {
    "type": "pie",
	"theme": "none",
    "titles": [{
        "text": "Количество игр с различным числом игроков",
        "size": 16
    }],
    "dataProvider": [{
        "count": "меньше 3 игроков",
        "players": {{ player_count[0] }}
    }, {
        "count": "3-4 игрока",
        "players": {{ player_count[1] }}
    }, {
        "count": "5-10 игроков",
        "players": {{ player_count[2] }}
    }, {
        "count": "> 10 игроков",
        "players": {{ player_count[3] }}
    }],
    "valueField": "players",
    "titleField": "count",
    "startEffect": "elastic",
    "startDuration": 2,
    "labelRadius": 15,
    "innerRadius": "50%",
    "depth3D": 10,
    "balloonText": "[[title]]<br><span style='font-size:14px'><b>[[value]] игр</b> ([[percents]]%)</span>",
    "angle": 15
});
</script>

<!--amcharts import end-->
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <br>
            <table class="table">
            <tbody>
              <tr>
                <td><p class="text-info">Общее количество игр</p></td>
                <td>{{ all_game }}</td>
              </tr>
              <tr>
                <td><p class="text-info">Общее количество разыгранных слов</p></td>
                <td>{{ all_word }}</td>
              </tr>

              <tr>
                <td><p class="text-info">Слов в словаре</p></td>
                <td>{{ words_in_dictionary }}</td>
              </tr>

            </tbody>
          </table>
        </div>
         <div class="col-md-6">
            <div id="games_for_player_chart_chartdiv" style="width: 100%; height: 400px;"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <center><b>Зависимость сложности слова от частотности, для top 10% слов<b></center>
            <img class="img-responsive" src="/images/scatter_plot/10" alt="" />
        </div>
        <div class="col-md-6">
            <center><b>Зависимость сложности слова от длины, для top 10% слов<b></center>
            <img class="img-responsive" src="/images/heatmap_plot/10" alt="" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" id="daily_chartdiv" style="height: 400px;">
        </div>
        <div class="col-md-12" id="average_game_time_chartdiv" style="height: 400px;">
        </div>
    </div>
    <div class="row" style="margin-bottom: 0">
    <center><b>Распределение игр по дням недели и времени суток<b></center>
    <div class="col-md-6" id="hour-day-chart" style="height: 400px;"></div>
    <div class="col-md-6" id="day-chart" style="height: 400px;"></div>
    </div>
    <div class="row">
    <div class="col-md-6" id="hour-chart" style="height: 400px;"></div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <center><b>Зависимость сложности слова от частотности, для top 75% слов<b></center>
            <img class="img-responsive" src="/images/scatter_plot/75" alt="" />
        </div>
        <div class="col-md-6">
            <center><b>Зависимость сложности слова от длины, для top 75% слов<b></center>
            <img class="img-responsive" src="/images/heatmap_plot/75" alt="" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <center><b>Зависимость сложности слова от частотности, для top 30% слов<b></center>
            <img class="img-responsive" src="/images/scatter_plot/30" alt="" />
        </div>
        <div class="col-md-6">
            <center><b>Зависимость сложности слова от длины, для top 30% слов<b></center>
            <img class="img-responsive" src="/images/heatmap_plot/30" alt="" />
        </div>
    </div>
    {% if is_admin %}
    <div class="row">
        <div class="col-md-6">
            <center><b>Зависимость погрешности сложности (D) от количества игр<b></center>
            <img class="img-responsive" src="/images/d_plot" alt="" />
        </div>
    </div>
    {% endif %}
{% endblock %}