{% extends "templates/base.html" %}
{% block title %}Общая статистика{% endblock %}
{% block header %}Статистика{% endblock %}
{% block head %}
<!--amcharts imports-->
<script type="text/javascript" src="http://www.amcharts.com/lib/3/amcharts.js"></script>
<script type="text/javascript" src="http://www.amcharts.com/lib/3/serial.js"></script>
<script type="text/javascript" src="http://www.amcharts.com/lib/3/pie.js"></script>
<script type="text/javascript" src="http://www.amcharts.com/lib/3/gauge.js"></script>
    <script type="text/javascript" src="http://www.amcharts.com/lib/3/amcharts.js"></script>
<script type="text/javascript" src="http://www.amcharts.com/lib/3/serial.js"></script>
<script type="text/javascript" src="http://www.amcharts.com/lib/3/themes/none.js"></script>


<script type="application/javascript" >
	function make_serial_chart(chart_data, category_field, title) {
		chart = new AmCharts.AmSerialChart();
        chart.addTitle(title);
		chart.dataProvider = chart_data;
        chart.categoryField = category_field;
        chart.dataDateFormat = "YYYY-MM-DD";
        return chart;
	}
    function make_category_axis(chart, parse_dates, min_period){
        var categoryAxis = chart.categoryAxis;
        categoryAxis.parseDates = parse_dates; // as our data is date-based, we set parseDates to true
        if(parse_dates)
            categoryAxis.minPeriod = min_period; // our data is daily, so we set minPeriod to DD
        categoryAxis.dashLength = 1;
        categoryAxis.gridAlpha = 0.15;
        categoryAxis.minorGridEnabled = true;
        categoryAxis.axisColor = "#DADADA";
    }
    function create_value_axis(axis_alpha, axis_length){
        var valueAxis = new AmCharts.ValueAxis();
        valueAxis.axisAlpha = axis_alpha;
        valueAxis.dashLength = axis_length;
        return valueAxis;
    }
    function make_graph(title, valueField, balloonText){
        var graph = new AmCharts.AmGraph();
        graph.valueField = valueField;
        graph.bullet = "round";
        graph.bulletBorderColor = "#FFFFFF";
        graph.bulletBorderThickness = 2;
        graph.bulletBorderAlpha = 1;
        graph.lineThickness = 2;
        graph.lineColor = "#b5030d";
        graph.negativeLineColor = "#0352b5";
        graph.balloonText = balloonText;
        graph.hideBulletsCount = 50; // this makes the chart to hide bullets when there are more than 50 series in selection
        return graph;
    }
    function create_cursor()
    {
        chartCursor = new AmCharts.ChartCursor();
        chartCursor.cursorPosition = "mouse";
        return chartCursor;
    }
    function create_scrollbar(graph){
        var chartScrollbar = new AmCharts.ChartScrollbar();
        chartScrollbar.graph = graph;
        chartScrollbar.scrollbarHeight = 40;
        chartScrollbar.color = "#FFFFFF";
        chartScrollbar.autoGridCount = true;
        return chartScrollbar;
    }
</script>

<script type="text/javascript">
    var word_count_data= [
        {% for i, j in word_count_for_date %}
            {
                "count": "{{i}}",
                "date": "{{j}}"
            },
        {% endfor %}
     ]

    var game_count_data= [
        {% for i, j in game_count_for_date %}
            {
                "count": "{{i}}",
                "date": "{{j}}"
            },
        {% endfor %}
     ]

    var player_count_data= [
        {% for i, j in player_count_for_date %}
            {
                "count": "{{i}}",
                "date": "{{j}}"
            },
        {% endfor %}
     ]

    var average_game_time_data= [
        {% for i, j in average_game_time %}
            {
                "count": "{{i}}",
                "date": "{{j}}"
            },
        {% endfor %}
     ]

    AmCharts.ready(function () {
        var count_word_chart = make_serial_chart(word_count_data, "date", "Среднее количество слов в играх");
        make_category_axis(count_word_chart, true, "DD");
        count_word_chart.addValueAxis(create_value_axis(0.2, 1));
        var word_graph = make_graph("Количество слов в играх", "count",
                "[[category]]<br><b><span style='font-size:14px;'>[[value]] слов</span></b>")
        count_word_chart.addGraph(word_graph)
        count_word_chart.addChartCursor(create_cursor());
        count_word_chart.write("word_count_chartdiv");
	});
    AmCharts.ready(function () {
        var count_game_chart = make_serial_chart(game_count_data, "date", "Количество игр   ");
        make_category_axis(count_game_chart, true, "DD");
        count_game_chart.addValueAxis(create_value_axis(0.2, 1));
        var count_game_graph = make_graph("Количество игр", "count",
                "[[category]]<br><b><span style='font-size:14px;'>[[value]] игр</span></b>")
        count_game_chart.addGraph(count_game_graph)
        count_game_chart.addChartCursor(create_cursor());
        count_game_chart.write("game_count_chartdiv");
	});
    AmCharts.ready(function () {
        var count_player_chart = make_serial_chart(player_count_data, "date", "Количество игроков ");
        make_category_axis(count_player_chart, true, "DD");
        count_player_chart.addValueAxis(create_value_axis(0.2, 1));
        var player_graph = make_graph("Количество игроков", "count",
                "[[category]]<br><b><span style='font-size:14px;'>[[value]] игроков</span></b>")
        count_player_chart.addGraph(player_graph)
        count_player_chart.addChartCursor(create_cursor());
        count_player_chart.write("player_count_chartdiv");
	});
    AmCharts.ready(function () {
        var average_game_time_chart = make_serial_chart(average_game_time_data, "date", "Средняя продолжительность игр ");
        make_category_axis(average_game_time_chart, true, "DD");
        average_game_time_chart.addValueAxis(create_value_axis(0.2, 1));
        var average_game_time_graph = make_graph("Средняя продолжительность игр", "count",
                "[[category]]<br><b><span style='font-size:14px;'>[[value]] ч</span></b>")
        average_game_time_chart.addGraph(average_game_time_graph)
        average_game_time_chart.addChartCursor(create_cursor());
        average_game_time_chart.write("average_game_time_chartdiv");
	});
///////////
        colors = ["#CC3333", "#FF0F00", "#FF6600","#FF9E01","#FCD202","#F8FF01","#FFFF00","#B0DE09","#04D215","#66FFFF", "#0D8ECF","#0D52D1","#2A0CD0" ,"#8A0CCF",
        "#CD0D74", "#754DEB","#DDDDDD", "#999999","#444444","#333333","#222222","#111111","#000000","#000000"]
    var chart = AmCharts.makeChart("game_for_time_chartdiv", {
    "theme": "none",
    "type": "serial",
	"startDuration": 2,
    "dataProvider": [
        {%for i, j in games_for_time %}
            {
                "count": "{{ i }}",
                "time": "{{ j }} ч",
                "color": colors[{{ j  }}]
            },
        {% endfor %}
    ],
    "valueAxes": [{
        "position": "left",
        "title": "Игры"
    }],
    "graphs": [{
        "balloonText": "около [[category]]: <b>[[value]] игр</b>",
        "colorField": "color",
        "fillAlphas": 1,
        "lineAlpha": 0.1,
        "type": "column",
        "valueField": "count"
    }],
    "depth3D": 20,
	"angle": 30,
    "chartCursor": {
        "categoryBalloonEnabled": false,
        "cursorAlpha": 0,
        "zoomable": false
    },
    "categoryField": "time",
    "categoryAxis": {
        "gridPosition": "start",
        "labelRotation": 90
    }
});
//////////
////////
 var games_for_player_chart = AmCharts.makeChart("games_for_player_chart_chartdiv", {
    "type": "pie",
	"theme": "none",
    "titles": [{
        "text": "Количество игроков и игр",
        "size": 16
    }],
    "dataProvider": [{
        "count": "меньше 3 игроков",
        "players": {{ player_count[0] }}
    }, {
        "count": "3-4 игрока",
        "players": {{ player_count[1] }}
    }, {
        "count": "5-10 игроков",
        "players": {{ player_count[2] }}
    }, {
        "count": "> 10 игроков",
        "players": {{ player_count[3] }}
    }],
    "valueField": "players",
    "titleField": "count",
    "startEffect": "elastic",
    "startDuration": 2,
    "labelRadius": 15,
    "innerRadius": "50%",
    "depth3D": 10,
    "balloonText": "[[title]]<br><span style='font-size:14px'><b>[[value]] игр</b> ([[percents]]%)</span>",
    "angle": 15,
});
////////
</script>

<!--amcharts import end-->
{% endblock %}

{% block content %}

	<div class="container">
        <div class="row">
            <div class="col-md-6">
                <br>
                <table class="table">
                <tbody>
                  <tr>
                    <td><p class="text-info">Общее количество игр</p></td>
                    <td>{{ all_game }}</td>
                  </tr>
                  <tr>
                    <td><p class="text-info">Общее количество разыгранных слов</p></td>
                    <td>{{ all_word }}</td>
                  </tr>

                  <tr>
                    <td><p class="text-info">В словаре слов</p></td>
                    <td>Много</td>
                  </tr>

                </tbody>
              </table>
            </div>
             <div class="col-md-6">
                <div id="games_for_player_chart_chartdiv" style="width: 100%; height: 400px;"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <center><b>Зависимость сложности слова от частоты<b></center>
                <img class="img-responsive" src="/images/scatter_plot" alt="" />
            </div> <!-- end col-md-4-->
            <div class="col-md-6">
                <center><b>Зависимость сложности слова от длины<b></center>
                <img class="img-responsive" src="/images/heatmap_plot" alt="" />
            </div> <!-- end col-md-4-->
        </div>
		<div class="row">
			<div class="col-md-6">
         	    <div id="word_count_chartdiv" style="width: 100%; height: 400px;"></div>
    		</div> <!-- end col-md-4-->
            <div class="col-md-6">
                <div id="game_count_chartdiv" style="width: 100%; height: 400px;"></div>
            </div> <!-- end col-md-6>
		</div> <!-- end row -->
        <div class="row">
			<div class="col-md-6">
         	    <div id="player_count_chartdiv" style="width: 100%; height: 400px;"></div>
    		</div> <!-- end col-md-4-->
            <div class="col-md-6">
                <div id="average_game_time_chartdiv" style="width: 100%; height: 400px;"></div>
            </div> <!-- end col-md-6>
		</div> <!-- end row -->
                  <center><b>Распределение игр по времени суток<b></center>
        <div id="game_for_time_chartdiv" style="width: 100%; height: 400px;"></div>


	</div> <!-- end container -->
{% endblock %}