{% extends "templates/base.html" %}
{% macro word_table(list) %}
<table class="table">
    <tr>
        <th>#</th>
        <th>Слово</th>
        <th>Сложность</th>
    </tr>
    {% for word in list %}
        <tr>
            <td>{{ loop.index }}</td>
            <td><a href="/word_statistics?word={{ word.word }}">{{ word.word }}</a></td>
            <td>{{ word.E|round(1) }}</td>
        </tr>
    {% endfor %}
</table>
{% endmacro %}
{% block title %}Cтатистика по слову "{{ word }}"{% endblock %}
{% block header %}Статистика{% endblock %}
{% block head %}
<!--amcharts imports-->
<script type="text/javascript" src="http://www.amcharts.com/lib/3/amcharts.js"></script>
<script type="text/javascript" src="http://www.amcharts.com/lib/3/serial.js"></script>
<script type="text/javascript" src="http://www.amcharts.com/lib/3/pie.js"></script>
<script type="text/javascript" src="http://www.amcharts.com/lib/3/gauge.js"></script>
<!--amcharts import end-->
{% endblock %}
{% block content %}
{% if not word_entity %}
{% if word %}
<div class="alert alert-danger">К сожалению, в нашем словаре нет слова "{{ word }}"</div>
{% endif %}
<h2>Выберите, статистику по какому слову вы хотите посмотреть:</h2>
<form style="margin-left: 30px" class="form-inline" method="get" action="/word_statistics">
    <div class="form-group">
        <input type="search" class="form-control" name="word" placeholder="Слово">
    </div>
    <button type="submit" class="btn btn-primary btn-bloc   k">
        <span class="glyphicon glyphicon-search"></span>Найти
    </button>
</form>
<div class="row">
<div class="col-md-4">
<p class="lead">Самые сложные слова</p>
{{ word_table(top) }}
</div>
<div class="col-md-4">
<p class="lead">Самые простые слова</p>
{{ word_table(bottom) }}
</div>
<div class="col-md-4">
<p class="lead">Случайные слова</p>
{{ word_table(rand) }}
</div>
</div>
{% else %}
<div class="container">
<div class="row">
<div class="col-md-6"><p class="lead">Показана статистика по слову "{{ word_entity.word }}"</p></div>
<div class="col-md-6">
    <form class="form-inline" method="get" action="/word_statistics">
        <div class="form-group">
            <input type="search" class="form-control" name="word" placeholder="Слово">
        </div>
        <button type="submit" class="btn btn-primary">
            <span class="glyphicon glyphicon-search"></span>Найти
        </button>
    </form>
</div>
</div>
<div class="row">
<div class="col-md-6" id="difficulty_gauge" style="height: 200px;">
</div>
    <script type="text/javascript">
    var diff_chart;
    var diff_arrow;
    var diff_axis;

    AmCharts.ready(function () {
        // create angular gauge
        diff_chart = new AmCharts.AmAngularGauge();
        diff_chart.addTitle("Сложность");

        // create axis
        diff_axis = new AmCharts.GaugeAxis();
        diff_axis.startValue = 0;
        diff_axis.axisThickness = 1;
        diff_axis.endValue = 100;
        // color bands
        var diff_band1 = new AmCharts.GaugeBand();
        diff_band1.startValue = 0;
        diff_band1.endValue = 30;
        diff_band1.color = "#00CC00";

        var diff_band2 = new AmCharts.GaugeBand();
        diff_band2.startValue = 30;
        diff_band2.endValue = 70;
        diff_band2.color = "#ffac29";

        var diff_band3 = new AmCharts.GaugeBand();
        diff_band3.startValue = 70;
        diff_band3.endValue = 100;
        diff_band3.color = "#ea3838";
        diff_band3.innerRadius = "95%";

        diff_axis.bands = [diff_band1, diff_band2, diff_band3];

        // bottom text
        diff_axis.bottomTextYOffset = -20;
        diff_axis.setBottomText("{{ word_entity.E | round(1) }}");
        diff_chart.addAxis(diff_axis);

        // gauge arrow
        diff_arrow = new AmCharts.GaugeArrow();
        diff_chart.addArrow(diff_arrow);
        diff_arrow.setValue("{{ word_entity.E }}");

        diff_chart.write("difficulty_gauge");
    });
</script>
<div class="col-md-6" id="pie_chart" style="height: 200px;">
</div>
<script type="text/javascript">
    var chart2;
    var legend2;

    var chartData2 = [{
        type: "Отгадано",
        games: {{ word_entity.guessed_times }}
    }, {
        type: "Объяснено с ошибкой",
        games: {{ word_entity.failed_times }}
    }, {
        type: "Не отгадано",
        games: {{ word_entity.used_times - word_entity.guessed_times - word_entity.failed_times}}
    }];

    AmCharts.ready(function () {
        // PIE CHART
        chart2 = new AmCharts.AmPieChart();
        chart2.addTitle("Попытки");
        chart2.dataProvider = chartData2;
        chart2.titleField = "type";
        chart2.valueField = "games";
        chart2.outlineColor = "#FFFFFF";
        chart2.outlineAlpha = 0.8;
        chart2.outlineThickness = 0;
        chart2.balloonText = "[[title]] [[value]] раз"

        // WRITE
        chart2.write("pie_chart");
    });
</script>
<div class="col-md-6">
<br>
 <table class="table">
    <tbody>
      <tr>
        <td><p class="text-info">Общее количество попыток</p></td>
        <td>{{ word_entity.used_times }}</td>
      </tr>
      <tr>
        <td><p class="text-info">Суммарное время отгадывания</p></td>
        <td>{{ word_entity.total_explanation_time}} сек</td>
      </tr>
      {% if word_entity.guessed_times > 0 %}
      <tr>
        <td><p class="text-info">Среднее время отгадывания</p></td>
        <td>{{ word_entity.total_explanation_time // word_entity.guessed_times}} сек</td>
      </tr>
      {% endif %}
    </tbody>
  </table>
</div>
<div class="col-md-6" id="gist_chartdiv" style="height: 200px;"></div>
<script type="text/javascript">
var chart = AmCharts.makeChart("gist_chartdiv", {
    "type": "serial",
    "theme": "none",
    "dataProvider": [
        {% for i in word_entity.counts_by_expl_time %}
            {
                "lower-bound": "{{ (loop.index - 1) * 5 }}",
                "upper-bound": "{{ loop.index * 5 }}",
                "games": {{ i }}
            },
        {% endfor %}
     ],
    "valueAxes": [{
        "gridColor":"#FFFFFF",
		"gridAlpha": 0.2,
		"dashLength": 0
    }],
    "gridAboveGraphs": true,
    "startDuration": 1,
    "graphs": [{
        "balloonText": "[[lower-bound]] - [[upper-bound]] сек: <b>[[value]] раз</b>",
        "fillAlphas": 0.8,
        "lineAlpha": 0.2,
        "type": "column",
        "valueField": "games"
    }],
    "chartCursor": {
        "categoryBalloonEnabled": false,
        "cursorAlpha": 0,
        "zoomable": false
    },
    "categoryField": "upper-bound",
    "categoryAxis": {
        "gridPosition": "start",
        "gridAlpha": 0
    }
});
</script>
</div>

{% if is_admin %}
<div class="row">
<div class="col-md-6">
Слово использовано в следующих играх:
<ol>
    {%  for g in games %}
        <li><a href="https://appengine.google.com/datastore/edit?app_id=s~the-hat-dev&key={{ g }}">{{ g }}</a></li>
    {%  endfor %}
</ol>
</div>
</div>
{% endif %}
</div>
{% endif %}
{% endblock %}