{% extends "templates/base.html" %}
{% block title %}Новости :: Шляпа{% endblock %}
{% block contentheader %}Добавить новость{% endblock %}

{% block content %}
        <p align="center">
        <form method="post" action="/addnews">
            <div>
                Title: <br/> <input type="text" name="title"/>
            </div>
            <div>
                Text: <br/> <textarea name="text" rows="10" cols="80"></textarea>
            </div>
            <div>
                ID: <br/> <input type="number" name="id"/>
            </div>
            <div>
                URL: <br/> <input type="text" name="url"/>
            </div>
            <div>
                Location: <br/> <input type="text" name="location"/>
            </div>
            <input type="submit" value="Send"/>
            <input type="submit" value="Cancel"
                   onclick="window.location='/'; return false;"/>
        </form>
        {% if error is defined %}
            <p>
                {{ error }}
            </p>
        {% endif %}
        </p>
{% endblock %}