<!doctype html>

<html>

  <head>
    <title>Добавление слов</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <style type="text/css">
      body {
        padding-top: 50px;
        padding-bottom: 20px;
      }
    </style>
  </head>

    <script type="application/javascript">

    function getXmlHttp() {
            var xmlhttp;
            try {
              xmlhttp = new ActiveXObject("Msxml2.XMLHTTP");
            } catch (e) {
            try {
              xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
            } catch (E) {
              xmlhttp = false;
            }
            }
            if (!xmlhttp && typeof XMLHttpRequest!='undefined') {
              xmlhttp = new XMLHttpRequest();
            }
            return xmlhttp;
          }

        function post(url, json)
        {
            // alert(xmlhttp);
            var xmlhttp = getXmlHttp();
            xmlhttp.open('POST', url, true);
            xmlhttp.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded'); // Отправляем кодировку
            xmlhttp.send("json=" + json); // Отправляем POST-запрос
        }
        function is_good(element) {
            return element != '';
        }
        function update_json()
        {
            var url = "/admin/global_dictionary/update_json";
            post(url, "");
            $('#update_myModal').modal({show:true})
        }

        function send_words()
        {
            var url = "/admin/global_dictionary/add_words";
            var text = document.getElementById("words").value;
            var re = new RegExp('\n', 'g');
            text = text.replace(re, ' ');
            var words = text.split(' ').filter(is_good);
            var len = words.length;
            for(var i = 0; i < (len / 1000) + 1; ++i)
            {
                var json = JSON.stringify(words.slice(1000 * i, 1000 * (i + 1)));
                post(url, json);
            }
            $('#myModal').modal({show:true})
        }
</script>

<div class="modal" id="myModal">
	<div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title">Добавление слов</h4>
        </div>
        <div class="modal-body">
          Слова отправлены на обработку
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success" data-dismiss="modal" onclick="location.href='/admin/global_dictionary/add'"> Close </button>
        </div>
      </div>
    </div>
</div>


<div class="modal" id="update_myModal">
	<div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title">Обновление словаря</h4>
        </div>
        <div class="modal-body">
          Обновление словаря запушено.
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success" data-dismiss="modal" onclick="location.href='/admin/global_dictionary/add'"> Close </button>
        </div>
      </div>
    </div>
</div>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Sombrero</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
              <li>
              <a href="/admin">Admin</a>
            </li>
            <li>
              <a href="/admin/global_dictionary/add">Добавление слов</a>
            </li>
            <li>
              <a href="/admin/global_dictionary/edit/0">Редактирование словаря</a>
            </li>
            <li>
              <a href="/admin/streams">Потоки слов</a>
            </li>
             <li>
              <a href="/admin/complain/list">Жалобы на слова</a>
            </li>
          </ul>
          <form class="navbar-form navbar-right">
            <div class="form-group"></div>
            <div class="form-group"></div>
            <button type="submit" class="btn btn-success">Sign in</button>
          </form>
        </div>
        <!--/.navbar-collapse -->
      </div>
    </div>
            <div class="container">
          <h1 align="center">Добавление слов</h1>
        </div>
    <div class="container">
   <td align="center" width=80%> <strong> При помощи этой формочки Вы можете добавить слова в словарь "Шляпы". Обратите вниание,
        нельзя за один раз отправлять более 100 килобайт (около 2000 слов) </strong> </td>
    <center>
        <div>
            <br/> <textarea class="form-control" name="text" rows="30"  id="words"></textarea>
        </div>
        <div id="sendbutton">
        <div id="alertion"></div>
        <button type="button" class="btn btn-success btn-lg btn-block" onclick="send_words()">
            <span class="glyphicon glyphicon-plus"></span> Добавить
        </button>
        </div>
    </center>
    {% if error is defined %}
        <p>
            {{ error }}
        </p>
    {% endif %}
    </td>

    <button type="button" class="btn btn-success btn-lg btn-block" onclick="update_json()">
             Обновить
        </button>
    </div>
    <center>
        <td width="34%" align="center">Обратите внимание, что каждое слово должно быть на своей отдельной строке <br>
Если формочка подсвечена зеленым, все правильно, если красным - значит, формат нарушен. </td> </tr> </table>
        </center>
  </body>

</html>