{% extends "templates/base.html" %}
{% block title %}Sombrero-admin{% endblock %}
{% block header %}Шляпа{% endblock %}
{%block content%}

      <div class="row">
        <div class="col-md-6">
          <h2>Добавление слов</h2>
          <p><a class="btn btn-default" href="/admin/global_dictionary/add_words" role="button">Перейти &raquo;</a></p>
        </div>
         <div class="col-md-6">
          <h2>Жалобы на слова</h2>
          <p><a class="btn btn-default" href="/admin/complain/list" role="button">Перейти &raquo;</a></p>
        </div>
         <div class="col-md-6">
          <h2>Обработка логов</h2>
          <p><a class="btn btn-default" href="/admin/logs_processing" role="button">Перейти &raquo;</a></p>
        </div>
      </div>
{% endblock %}