<!doctype html>

<html>
  
  <head>
    <title>Admin panel</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <style type="text/css">
      body {
        padding-top: 50px;
        padding-bottom: 20px;
      }
    </style>
  </head>
  
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Sombrero</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
              <li>
              <a href="/admin">Admin</a>
            </li>
            <li>
              <a href="/admin/global_dictionary/add">Добавление слов</a>
            </li>
            <li>
              <a href="/admin/global_dictionary/edit/0">Редактирование словаря</a>
            </li>
            <li>
              <a href="/admin/streams">Потоки слов</a>
            </li>
             <li>
              <a href="/admin/complain/list">Жалобы на слова</a>
            </li>
          </ul>
          <form class="navbar-form navbar-right">
            <div class="form-group"></div>
            <div class="form-group"></div>
            <button type="submit" class="btn btn-success">Sign in</button>
          </form>
        </div>
        <!--/.navbar-collapse -->
      </div>
    </div>
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Sombrero-admin</h1>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-6">
          <h2>Добавление слов</h2>
          <p><a class="btn btn-default" href="/admin/global_dictionary/add" role="button">Перейти &raquo;</a></p>
        </div>
        <div class="col-md-6">
          <h2>Редактирование словаря</h2>
          <p><a class="btn btn-default" href="/admin/global_dictionary/edit/0" role="button">Перейти &raquo;</a></p>
       </div>
        <div class="col-md-6">
          <h2>Потоки слов</h2>
          <p><a class="btn btn-default" href="/admin/streams" role="button">Перейти &raquo;</a></p>
        </div>
         <div class="col-md-6">
          <h2>Жалобы на слова</h2>
          <p><a class="btn btn-default" href="/admin/complain/list" role="button">Перейти &raquo;</a></p>
        </div>
         <div class="col-md-6">
          <h2>Обработка логов</h2>
          <p><a class="btn btn-default" href="/admin/logs_processing" role="button">Перейти &raquo;</a></p>
        </div>
      </div>
    <div class="container">
      <!-- Example row of columns -->
      <hr>
      <footer>
        <p>&copy; Company 2013</p>
      </footer>
    </div>
    </div>
    <!-- /container -->
  </body>

</html>