<!DOCTYPE HTML PUBLIC>
{% autoescape true %}
<html>

<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <style type="text/css">
        body {
            padding-top: 50px;
            padding-bottom: 20px;
        }
    </style>
    {% block head %}{% endblock %}
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Шляпа</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                {% if is_admin %}
                <li>
                    <a href="/admin">Admin</a>
                </li>
                {% endif %}
            </ul>
            {% if user_email %}
            <a href="{{ user_link|safe }}" class="btn btn-default navbar-btn navbar-right">
                <span class="glyphicon glyphicon-user"></span> {{ user_email }} (Выйти)
            </a>
            {% else %}
            <a href="{{ user_link|safe }}" class="btn btn-success navbar-btn navbar-right">Войти</a>
            {% endif %}
        </div>
    </div>
</div>
<div class="jumbotron">
    <div class="container">
        <h1>{% block header %}{% endblock %}</h1>
    </div>
</div>
<div class="container">
    {% block content %}{% endblock %}
</div>
</body>
</html>
{% endautoescape %}