{% extends "templates/base.html" %}
{% block title %}Сомнительные слова - Шляпа{% endblock %}
{% block header %}Сомнительные слова{% endblock %}
{% block content %}
    <script type="application/javascript">

        function getXmlHttp() {
            var xmlhttp;
            try {
              xmlhttp = new ActiveXObject("Msxml2.XMLHTTP");
            } catch (e) {
            try {
              xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
            } catch (E) {
              xmlhttp = false;
            }
            }
            if (!xmlhttp && typeof XMLHttpRequest!='undefined') {
              xmlhttp = new XMLHttpRequest();
            }
            return xmlhttp;
          }

        function post(prefix, url, word)
        {
            // alert(xmlhttp);
            var xmlhttp = getXmlHttp();
            xmlhttp.open('POST', url, true);
            xmlhttp.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded'); // Отправляем кодировку
            xmlhttp.send(prefix+"=" + word); // Отправляем POST-запрос
        }

        function delete_here(word)
        {
            for (var i = 0; i < {{ quantity }}; i = i + 1)
            {
                try
                {
                    document.getElementById(word + "_" + i).style.display = "none";
                }
                catch(err)
                {
                    ;
                }
            }
            post("word", '/admin/complain/cancel', word);
        }
        function delete_global(word)
        {
            for (var i = 0; i < {{ quantity }}; i = i + 1)
            {
                try
                {
                    document.getElementById(word + "_" + i).style.display = "none";
                }
                catch(err)
                {
                    ;
                }
            }
            post("word",'/admin/complain/remove', word);
        }
        function postpone(word)
        {
            for (var i = 1; i < {{ quantity }}; i = i + 1)
            {
                try
                {
                    document.getElementById(word + "_" + i).style.display = "none";
                }
                catch(err)
                {
                    ;
                }
            }
            post("word", '/admin/complain/postpone', word);
        }
    </script>
    <script type="text/javascript">
        jQuery(document).ready(function($) {
            var word_name = ""
            var proper_word = ""
            $(".clickableRow").click(function() {
                var device_id = $(this).find("td").eq(1).text()
                if(device_id =="")
                    device_id = "undefined";
                word_name = $.trim($(this).find("td").eq(2).text())
                var reason = $(this).find("td").eq(3).text()
                proper_word = $(this).find("td").eq(4).text()
                var $words = $('#word_table').find("tr")
                $('#used').find("tr").remove()
                $words.each(function (i, row) {
                    var curr_device = $(this).find("td").eq(1).text();
                    if(curr_device =="")
                        curr_device = "undefined";
                    var curr_word = $.trim($(this).find("td").eq(2).text());
                    var curr_reason = $(this).find("td").eq(3).text();
                    if(curr_word==word_name)
                        $('#used').append('<tr><td>'+curr_device+'</td><td>'+curr_reason+'</td></tr>');
                });
                $(".rename_button").removeClass('glyphicon-ok-circle')
                $("#proper_word").val(proper_word)
                $('#complain_word_modal').find('.modal-header').html("<center><h1>"+word_name+"</center></h1>");
                $('#complain_device_id').html(device_id);
                $('#complain_reason').html(reason);
                $('#complain_word_modal').modal('show');
            });
            $(".delete_button").click(function() {
                delete_global(word_name);
            });
            $(".postpone_button").click(function() {
                postpone(word_name);
            });
            $(".delete_here").click(function() {
                delete_here(word_name);
            })
            $(".rename_button").click(function() {
                var typed_word = $('#proper_word').val()
                if($.trim(typed_word) != ''){
                    $(this).addClass('glyphicon glyphicon-ok-circle')
                    post("json", '/admin/word_lookup/add', JSON.stringify([{"word":typed_word, "lookup":word_name}]))
                    delete_here(word_name);
                }
            });
        });
    </script>
    <div class="modal" id="complain_word_modal">
	    <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                </div>
                <div class="modal-body">
                    <table class="table table-striped">
                        <tr>
                            <td>Устройство: </td>
                            <td id="complain_device_id"></td>
                        </tr>
                        <tr>
                            <td>Причина: </td>
                            <td id="complain_reason"></td>
                        </tr>
                    </table>
                    <h4>Другие жалобы по слову.</h4 >
                    <table class="table table-striped">
                        <thead>
                            <th>устройство</th>
                            <th>причина</th>
                        </thead>
                        <tbody id="used">

                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-md-8">
                            <input type="text" id="proper_word" class="form-control" placeholder="Введите слово для переименования">
                        </div>

                        <div class="col-md-4">
                           <button type="button" class="btn btn-block btn-warning rename_button"> Переименовать </button>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row-fluid">
                        <div class="col-md-4">
                            <button id="remove_from_dict" type="button" class="btn btn-block btn-danger delete_button" data-dismiss="modal"> Удалить из словаря </button>
                        </div>
                        <div class="col-md-4">
                            <button type="button" class="btn btn-block btn-danger delete_here" data-dismiss="modal"> Удалить жалобы </button>
                        </div>
                        <div class="col-md-4    ">
                            <button type="button" class="btn btn-block btn-success" data-dismiss="modal"> Close </button>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="container">

         <form method="post" action="/admin/complain/clear"> <input class="btn btn-danger" type="submit" value="Игнорировать все"/> </form>
        <div class="left">
          <table class="table table-hover" id="word_table">
            <thead>
              <tr>
                <th>#</th>
                <th>Устройство</th>
                <th>Слово</th>
                 <th>Причина</th>
                  <th>Замена</th>
              </tr>
            </thead>
         <tbody>
        {% for word in words %}
            <tr class='clickableRow' id="{{ word.word }}_{{ word.cnt }}" >
                <td>{{ word.cnt }}</td>
                <td>{{ word.device_id }}</td>
                <td>{{ word.word }} </td>
                <td>{{ word.reason }}</td>
                <td>{{ word.replacement_word }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        </div>
    </div>
{% endblock %}