{% extends "templates/base.html" %}
{% block title %}Редактирование личного словаря :: Шляпа{% endblock %}
{% block head %}<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>{% endblock %}
{% block contentheader %}Личный словарь{% endblock %}

{% block content %}
<script type="application/javascript">
function submit()
{
    var removed = [];
    $.each($(".word"), function(i, el) {
        if (!$(el).prop("checked"))
            removed[removed.length] = $(el).attr("data-word");
    });
    var added = [];
    $.each($(".new-word"), function(i, el) {
        added[added.length] = $(el).attr("data-word");
    });
    $.post("/html/udict/proc", {"added": added, "removed": removed}).done(function (d) {
    location.reload(true);
    });
}
function add_word()
{
    inp = $("#inp");
    if (inp.val() == "")
        return;
    $("#word_list").append('<li class="new-word" data-word="'+inp.val()+'">'+inp.val()+'</li>');
    inp.val("")
}
</script>
<strong> Вы можете редактировать Ваш личный словарь.</strong>
<input type="hidden" name="user" value="{{ USER }}">
<ol id="word_list">
{%  for word in words %}
<li><input type="checkbox" checked class="word" data-word="{{ word.word }}">{{ word.word }}</li>
{% endfor %}
</ol>
<input type="text" id="inp"><button onclick="add_word()">+</button>
<br/>
<button onclick="submit()">Готово</button>
{% endblock %}
