{% extends "templates/base.html" %}
{% block title %}Просмотр игры- Sombreo{% endblock %}
{% block header %}Просмотр протокола игры{% endblock %}

{% block content %}
{% if not game %}
    <h2>Введите urlsafe key нужной вам игры:</h2>
    <form style="margin-left: 30px" class="form-inline" method="get" action="view_game_log">
    <div class="form-group">
        <input type="search" class="form-control" name="key" placeholder="Urlsafe">
    </div>
    <button type="submit" class="btn btn-primary">
        <span class="glyphicon glyphicon-search"></span>Показать
    </button>
</form>
{% else %}
<pre class="pre-scrollable">{{ game_string }}</pre>
{% if game.ignored %}
    <p class="lead">Игра игнорируется по следующей причине: {{ game.reason }}</p>
    <a class="btn btn-success" href="/admin/ignore_game_log?key={{ key }}">Отменить игнорирование этой игры</a>
{% else %}
    {% if game.reason %}
        <p>Возможная причина игнорирования: {{ game.reason }}</p>
    {% endif %}
    <a class="btn btn-warning" href="/admin/ignore_game_log?key={{ key }}">Проигнорировать эту игру</a>
{% endif %}
{% endif %}
{% endblock %}
