<!doctype html>

<html>
  
  <head>
    <title>Word Editor</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
     <head>
    <title>Jumbotron</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <style type="text/css">
      body {
        padding-top: 50px;
        padding-bottom: 20px;
      }
    </style>
  </head>
  <style>
.left {
	width:80%;
	float:left;
}
.right {
	margin-top: 10px;
	float:right;
	width:15%;
}

</style>


<script type="application/javascript">

        function getXmlHttp() {
            var xmlhttp;
            try {
              xmlhttp = new ActiveXObject("Msxml2.XMLHTTP");
            } catch (e) {
            try {
              xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
            } catch (E) {
              xmlhttp = false;
            }
            }
            if (!xmlhttp && typeof XMLHttpRequest!='undefined') {
              xmlhttp = new XMLHttpRequest();
            }
            return xmlhttp;
          }

        function post(url, word)
        {
            // alert(xmlhttp);
            var xmlhttp = getXmlHttp();
            xmlhttp.open('POST', url, true);
            xmlhttp.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded'); // Отправляем кодировку
            xmlhttp.send("word=" + word); // Отправляем POST-запрос
        }

        function hide(id)
        {
            try
            {
                document.getElementById(id).style.display = "none";
            }
            catch(err)
            {
                ;
            }
        }


        function delete_global(word, cnt)
        {
            hide(cnt);
            document.getElementById(cnt).textContent += "-deleted";
            post('/global/delete', word);
        }

        function search_words()
        {
            var reg = new RegExp(document.getElementById("txt").value)
            for (var i = 0; i < {{ quantity }}; i = i + 1)
            {
                if(document.getElementById(i).textContent.search(reg) == -1)
                    hide(i);
            }
        }

        function unsearch()
        {
            for (var i = 0; i < {{ quantity }}; i = i + 1)
            {
                if(document.getElementById(i).textContent.search("-deleted") == -1)
                    try
                    {
                        document.getElementById(i).style.display = "";
                    }
                    catch(err)
                    {
                        ;
                    }
            }
        }

    </script>

<script type="text/javascript" src="http://code.jquery.com/jquery-1.4.2.min.js"></script>

<script type="text/javascript">
	$(function() {
		var offset = $("#fixed").offset();
		var topPadding = 15;
		$(window).scroll(function() {
			if ($(window).scrollTop() > offset.top) {
				$("#fixed").stop().animate({marginTop: $(window).scrollTop() - offset.top + topPadding});
			}
			else {$("#fixed").stop().animate({marginTop: 0});};});
	});
</script>

  </head>
  
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/admin">Sombrero-admin</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li>
              <a href="/edit_words">Добавление слов</a>
            </li>
            <li class="active">
              <a href="/global/edit/0">Редактирование словаря</a>
            </li>
            <li>
              <a href="/streams">Потоки слов</a>
            </li>
             <li>
              <a href="/complained">Жалобы на слова</a>
            </li>
          </ul>
          <form class="navbar-form navbar-right">
            <div class="form-group"></div>
            <div class="form-group"></div>
            <button type="submit" class="btn btn-success">Sign in</button>
          </form>
        </div>
        <!--/.navbar-collapse -->
      </div>
    </div>
    <div class="container">
      <div class="masthead">
        <div class="container">
          <h1 align="center">Глобальный словарь</h1>
        </div>
       <ul class="pagination">
          <li>
            <a href="#">Prev</a>
          </li>
          {% for i in range(all_num // 200) %}
            <li>
            <a href="{{ i }}">{{ 200 * i }}</a>
          </li>
          {% endfor %}
          <li>
            <a href="#">Next</a>
          </li>
        </ul>

        <div class="container">
        <div class="left">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Word</th>
                <th>E</th>
                 <th>D</th>
                  <th>tags</th>
              </tr>
            </thead>
            <tbody>
            {% for word in words %}
                <tr id ="{{ word.cnt }}">
                    <td id = "word_name">{{ word.word }}</td>
                    <td>{{ word.E }}</td>
                    <td>{{ word.D }} </td>
                    <td>{{ word.tags }}</td>

                    <td><td align="center"> <a class="btn btn-block btn-danger" onclick="delete_global('{{ word.word }}', '{{ word.cnt }}')"> Удалить</a></td></td>
                </tr>
            {% endfor %}
            </tbody>
          </table>
      </div>
        <div class="right">
            <div id="fixed"><input type="text" id="txt" class="form-control">
            <a class="btn btn-primary btn-block" onclick="search_words()"> Найти</a></div>
            <a class="btn btn-primary btn-block" onclick="unsearch()"> Отмена</a></div>
		</div>
      <!-- Jumbotron -->
      <!-- Example row of columns -->
      <div class="row"></div>
      <!-- Site footer -->
      <div class="footer">
        <p>&copy; Company 2013</p>
      </div>
    </div>
    <!-- /container -->
  </body>

</html>