{% extends "templates/base.html" %}
{% block title %}Шляпа{% endblock %}
{% block header %}Шляпа{% endblock %}
{%block content%}
<div class="row">
    <div class="col-md-6">
        <h2>Редактировать личный словарик</h2>
        <p><a class="btn btn-default" href="/html/udict/edit" role="button">Перейти &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Сгенерировать себе пинок</h2>
        <p><a class="btn btn-default" href="/generate_pin" role="button">Перейти &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Создать игру</h2>
        <p><a class="btn btn-default" href="/user/create_game" role="button">Перейти &raquo;</a></p>
    </div>
</div>
{% endblock %}