<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">

    <title>ЛКШ.Шляпа</title>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <script type="text/javascript" src="https://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>

    <!-- Custom CSS -->
    <link href="/assets/landing-page.css" rel="stylesheet">
</head>

<body>

    <!-- Header -->
    <div class="intro-header">

        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <div class="intro-message">
                        <h1>ЛКШ.Шляпа</h1>
                        <h3>Скачайте приложение и объясняйте слова!</h3>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            <li>
                                <a href="/android/beta" class="btn btn-default btn-lg"><span class="network-name">Android</span></a>
                            </li>
                            <li>
                                <a href="/android/new/beta" class="btn btn-default btn-lg"><span class="network-name">Новое Android приложение</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-md-7 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Шляпа?!</h2>
                    <p class="lead">Не знаете, что такое Шляпа? Это увлекательнейшая игра, в которой нужно за ограниченное время объяснить партнеру как можно больше слов. Она интересна людям всех возрастов. В неё можно играть вдвоем, или большой компанией. Можно устроить настоящее соревнование, а можно просто отдохнуть. <br/>Подробные правила можно прочесть  <a href=http://thehat.ru/rules/>здесь</a></p>
                </div>
                <div class="col-md-5 col-sm-6">
                    <a title="By Марина Линдина (Own work) [CC-BY-SA-3.0 (http://creativecommons.org/licenses/by-sa/3.0)]"><img class="img-responsive" alt="Hat game" src="/assets/people_playing_hat.jpg"/></a>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-md-7 col-md-push-5 col-sm-6 col-sm-push-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Шляпа. ЛКШ.Шляпа</h2>
                    <p class="lead"><a href=http://lksh.ru>Летняя компьютерная школа</a> (ЛКШ) - это лагерь для школьников, увлекающихся программированием. Они любят не только программировать, но и играть в Шляпу. Поэтому мы в параллели P ЛКШ 2013 начали делать мобильное приложение для игры в Шляпу. Теперь вам не нужно резать бумажки и придумывать слова. Вы можете сразу приступить к самой увлекательной части: объяснению слов. В придачу приложение еще и время засечет, и посчитает, кто сколько слов объяснил.</p>
                </div>
                <div class="col-md-5 col-md-pull-7 col-sm-6 col-sm-pull-6">
                    <img class="img-responsive" src="/assets/hat.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-md-7 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Sombrero</h2>
                    <p class="lead">"Ну да, придумали они приложение сделать, - скажете вы. - Да таких приложений развелось, как слов в словаре!" <br> <strong>Таких</strong> приложений вообще больше нет. Все дело в том, что кроме приложения на вашем устройстве у нас есть сервер Sombrero, который собирает <a href="/statistics/total_statistics">статистику игр</a> и с ее помощью <a href="/statistics/word_statistics">сравнивает слова</a> по сложности объяснения. В обычных приложениях для игры в Шляпу считается, что слово сложнее объяснить, если оно реже встречатся в речи. Ясно, что это совсем не точная мерка. Наша статистика дает возможность выбирать слова примерно одной сложности для игры, а еще она очень интересует лингвистов, которые изучают, как люди объясняют значения слов. Когда вы играете на нашем приложении, вы помогаете двигать науку!</p>
                </div>
                <div class="col-md-5 col-sm-6">
                    <img class="img-responsive" src="/assets/sombrero.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-md-7 col-md-push-5 col-sm-6 col-sm-push-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Новое приложение</h2>
                    <p class="lead">И вот мы сделали новое кроссплатформенное приложение! Вы все правильно поняли, в скором времени шляпа приходит на iOS! В старом приложении сложность слов не изменялась, а в новом наконец-то словарь обновляется в соответствии со статистикой на сервере. Обновленный дизайн и новый увлекательный режим "на выживание" для двух игроков готовы уже сейчас. Но поддержка приложения на этом не заканчивается. Обновляйтесь и играйте с друзьями!<br><i>&#8212;После стольких лет?..<br>&#8212;Всегда.<br>Северус Снейп</i></p>
                </div>
                <div class="col-md-5 col-md-pull-7 col-sm-6 col-sm-pull-6">
                    <img class="img-responsive" src="/assets/new_hat.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->


</body>

</html>
