{% extends "templates/base.html" %}
{% block title %}Администрация статистики - Sombreo{% endblock %}
{% block header %}Администрация статистики{% endblock %}

{% block content %}
<div class="alert alert-danger">Будьте осторожны! Пересчет статистики - чрезвычайно сложная и продолжительная операция</div>
{% if message == 1 %}
    <div class="alert alert-success">Операция "{{ names[last_value - 1] }}" запущена</div>
{% elif message == 2 %}
    <div class="alert alert-warning">Неправильный ответ на пример</div>
{% endif %}
<form class="form" role="form" method="POST">
    <div class="form-group"><label class="col-sm-2 control-label">{{ a }} + {{ b }} = </label><div class="col-md-2"><input type="text" class="form-control" name="code" placeholder="Введите ответ"></div></div>
    <input type="hidden" name="ans" value="{{ a+b }}">
    <div class="form-group"><select required name="action">
        <option value="1">{{ names[0] }}</option>
        <option value="2">{{ names[1] }}</option>
        <option value="3">{{ names[2] }}</option>
        <option value="4">{{ names[3] }}</option>
        <option value="5">{{ names[4] }}</option>
    </select></div>
    <button type="submit" class="btn btn-danger">Выполнить действие</button>
</form>
{% endblock %}
