{% extends "templates/base.html" %}
{% block title %}Неизвестные слова{% endblock %}
{% block header %}Неизвестные слова
{% endblock %}
{%block content%}

<script type="application/javascript">
    var current_word;
    function getXmlHttp() {
        var xmlhttp;
        try {
          xmlhttp = new ActiveXObject("Msxml2.XMLHTTP");
        } catch (e) {
        try {
          xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
        } catch (E) {
          xmlhttp = false;
        }
        }
        if (!xmlhttp && typeof XMLHttpRequest!='undefined') {
          xmlhttp = new XMLHttpRequest();
        }
        return xmlhttp;
      }

    function post(url, word)
    {
        // alert(xmlhttp);
        var xmlhttp = getXmlHttp();
        xmlhttp.open('POST', url, true);
        xmlhttp.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded'); // Отправляем кодировку
        xmlhttp.send("word=" + word); // Отправляем POST-запрос
    }
    function pop_row(word)
    {
        $("#"+word).remove();
    }
    function ignore(word)
    {
        post('/admin/unknown_word/ignore', word);
        pop_row(word);
    }
    function add(word)
    {
        post('/admin/unknown_word/add', word);
        pop_row(word);
    }
    function rename(word)
    {
        current_word = word;
        $('#proper_word').val('');
        $('#rename_word_modal').modal('show');
    }
</script>
<script type="text/javascript">
    jQuery(document).ready(function($) {
        $(".send_button").click(function() {
            var typed_word = $('#proper_word').val();
            $('#rename_word_modal').modal('hide');
            if($.trim(typed_word) != ''){
                $(this).addClass('glyphicon glyphicon-ok-circle');
                post("json",
                     '/admin/word_lookup/add',
                     JSON.stringify([{"word": typed_word, "lookup": current_word}]));
                ignore(current_word);
            }
        });
    });
</script>

<table class="table table-hover">
    <tr>
        <th>Слово</th>
        <th>Встречалось раз</th>
    </tr>
{% for word in word_list %}
    <tr id = "{{ word.word }}">
        <td>{{ word.word }}</td>
        <td>{{ word.times_used}}</td>
        <td>
            <div class="row">
                <div class="col-md-3">
                    <button class="btn btn-success" onclick="add('{{ word.word }}')">
                        <span class="glyphicon glyphicon-plus"></span>
                        Добавить в словарь
                    </button>
                </div>
                <div class="col-md-3">
                    <button class="btn btn-danger ignore_button" onclick="ignore('{{ word.word }}')">
                        <span class="glyphicon glyphicon-minus"></span>
                        Игнорировать
                    </button>
                </div>
                <div class="col-md-3">
                    <button class="btn btn-info rename_button" onclick="rename('{{ word.word }}')">
                        <span class="glyphicon glyphicon-edit"></span>
                        Это опечатка
                    </button>
                </div>
                <div class="col-md-3">
                    <div class="btn-group">
                    <button data-toggle="dropdown" class="btn btn-default dropdown-toggle"> <span class="glyphicon glyphicon-question-sign"></span>
                        <span class="caret"></span>
                    </button>
                        <ul class="dropdown-menu">
                            <li><a target="_blank" href="http://ru.wiktionary.org/wiki/{{word.word}}">Посмотреть в Wiktionary</a></li>
                            <li class="divider"></li>
                            <li><a target="_blank" href="http://www.google.com/search?q={{ word.word }}">Поиск в Google</a></li>
                            <li><a target="_blank" href="http://yandex.ru/yandsearch?text={{ word.word }}">Поиск в Yandex</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </td>
     </tr>
{% endfor %}
</table>
<div class="modal" id="rename_word_modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Опечатка</h4>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-md-8">
                        <input type="text" id="proper_word" class="form-control" placeholder="Введите слово для переименования">
                    </div>

                    <div class="col-md-4">
                       <button type="button" class="btn btn-block btn-warning send_button"> Переименовать </button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row-fluid">
                    <div class="col-md-4">
                        <button type="button" class="btn btn-block btn-success" data-dismiss="modal"> Close </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}